@charset "utf-8";
*{margin: 0; padding: 0; font-family: NanumSquare;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.main{ width: 100%; height: 960px;
    position: relative;
}

.header{
    width: 100%;
    height: 37.5px;
    position: absolute; z-index: 9; top: 37.5px;
}

/* 헤더 */
.header .header-wrap{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    line-height: 37.5px;}

/* 로고 */
.header .header-wrap .logo{float: left; height: 60px; margin-left: 120px; margin-top: 20px; }
.header .header-wrap .logo img{width: 100%; height: 100%;}

/* 네비 */

.header .header-wrap .nav{float: right;  margin-top: 25px; }
.header .header-wrap .nav ul li{float: left; margin-left: 68px;}

.header .header-wrap .nav ul li a{color: rgb(0, 0, 0); font-size: 19px; position: relative; }

    .header .header-wrap .nav ul li a::after,
    .header .header-wrap .nav ul li a.on::after
    {content:"";
        position: absolute; background: url("../images/about_drop1.png"); width: 81px; height: 35px; display: block; top: 0;transition: 0.5s; opacity: 0; left: -11.5px;}
        .header .header-wrap .nav ul li a.on::after{opacity: 1; top: 10px; z-index: -1;}
        .header .header-wrap .nav ul li:nth-child(2) a::after{background-image: url("../images/about_drop20x.png"); width: 120px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0;}
        .header .header-wrap .nav ul li:nth-child(3) a::after{background-image: url("../images/about_drop30x.png");width: 78px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0}
        .header .header-wrap .nav ul li:nth-child(4) a::after{background-image: url("../images/about_drop40x.png");width: 130px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0}
       
        .header .header-wrap .nav ul li:hover a::after{top: 10px; opacity: 1; z-index: -1;}
    .content{
        width: 100%;
        position: relative;
    }
    .content img{width: 100%;} 
    .content svg{position: absolute; top: 5.5%; left: 28%;}
    
   /* Google chrome */
   @-webkit-keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #ffbd00;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #ffbd00;
     }
     
 }
 /* Most browsers */
 @keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #ffbd00;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #ffbd00;
     }
     
 }


.butter{width: 670px; position: absolute; right:20px; top: 180px;  animation: butterani 3s infinite;}
/* @keyframes butterani{
    0%{transform: rotate(0);}
    10%{transform: rotate(0.1deg);}
    20%{transform: rotate(0.2deg);}
    30%{transform: rotate(0.1deg);}
    40%{transform: rotate(0deg);}
    50%{transform: rotate(-1deg);}
    60%{transform: rotate(-2deg);}
    70%{transform: rotate();}
    80%{transform: rotate(0g);}
    90%{transform: rotate(0);}
    100%{transform: rotate(0);}
} */
/* animation 1  */

@keyframes butterani {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-4deg);
    }
  
    50% {
      transform: rotate(4deg);
    }
    
    75% {
      transform: rotate(-4deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .ani-button {
    padding: 15px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 50px;
  }
  
  .ani-button:hover {
    animation-name: butterani;
    animation-duration: 2s;
  }
.pic{
    width: 491px; position: absolute; left:980px; top: 133px;
}

.box{
    width: 573.35px; height: 70px; position: absolute; left:953px; top: 1175px;
    overflow: hidden;
    font-size: 0;
}
.box ul{
    animation: scroll 5s infinite;
    height: 100%;
    /* overflow: hidden; */
    
}
.box ul img{height: 70px;}
@keyframes scroll {
    0%{transform: translateY(0)}
    10%{transform: translateY(0);}
    20%{transform: translateY(-70px);}
    30%{transform: translateY(-70px);}
    40%{transform: translateY(-140px);}
    50%{transform: translateY(-140px);}
    60%{transform: translateY(-210px);}
    70%{transform: translateY(-210px);}
    80%{transform: translateY(-280px);}
    90%{transform: translateY(-280px);}
    100%{transform: translateY( -350px);}
}

.text1{
    width: 858px;  position: absolute; left:882px; top: 1622px;
}

.text2{
    width: 750px;  position: absolute; left:920px; top: 2059px;
}

.text3{
    width: 680px; position: absolute; left:310px; top: 3090px;
}

.mbti1{
    width: 556px; height: 69.822px; position: absolute; left:681px; top: 2483px; z-index: 1;
}
.mbti2{
    width: 288px; height: 69.822px; position: absolute; left:842px; top: 2565px;
}
.mbti3{
    width: 470px; position: absolute; left:740px; top: 2620px; z-index: 1;
}

.paper{
    width: 1320px; height: 69.822px; position: absolute; left:300px; top: 4300px;
}

.certificate{
    width: 492px; height: 69.822px; position: absolute; left:300px; top: 5160px;
}
.activity{
    width: 657px; height: 69.822px; position: absolute; right:300px; top: 5160px;
}

.skill-wrap{
    width: 1308px;
    display: flex;
    position: absolute; left:299px; top: 5882px;
    justify-content: start;
    text-align: center;


    
}
.skill-wrap > div{
    flex-basis: 33.3333%;
    padding-top: 229px;
    /* 위치 맞추기 top */
    padding-bottom: 145px;
}
.skill-wrap > div img{width: 132px; height: 132px;}
.skill-wrap > div .desc{transition: 0.5s; opacity: 0; margin-top: 100px;}
.skill-wrap > div .desc h3{margin: 20px 0;}
.skill-wrap > div .desc p{line-height: 25px;}
.skill-wrap > div:hover{background-color: rgba(223,189,80,0.62);}
.skill-wrap > div:hover .desc{opacity: 1; margin-top: 0;}
/* 
.psd{
    width: 132px; height: 69.822px; position: absolute; left:448px; top: 6130px;
}



.psd:hover{
    position: absolute; background: url("../images/yellowcover.png"); background-size: cover; 
    background-position: center;}


.ai{
    width: 132px; height: 69.822px; position: absolute; left:890px; top: 6130px;
}

.visual{
    width: 132px; height: 69.822px; position: absolute; right:448px; top: 6130px;
} */


.btn>a{
    width: 60px; height: 60px; position: absolute; right:1040px; top: 6753px;
    background: no-repeat url("../images/black0x.png"); 
    background-size: cover; 
    background-position: center;
    transition: 0.3s;
}
.btn a:hover{
    background: url("../images/yellow0x.png"); 
    background-size: cover; 
    background-position: center;
} 

.check{
    width: 29px; height: 69.822px; position: absolute; left:1365px; top: 4045px;
}

.check2{
    width: 29px; height: 69.822px; position: absolute; left:1442px; top: 4178px;
}

.maintxt{
    width: 358px; height: 100px; position: absolute; left:632px; top: 548px;
}