@charset "utf-8";
*{margin: 0; padding: 0; font-family: NanumSquare;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.main{ width: 100%; height: 960px;
    position: relative;
}

.header{
    width: 100%;
    height: 37.5px;
    position: absolute; z-index: 9; top: 37.5px;
}

/* 헤더 */
.header .header-wrap{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    line-height: 37.5px;}

/* 로고 */
.header .header-wrap .logo{float: left; height: 60px; margin-left: 120px; margin-top: 20px; }
.header .header-wrap .logo img{width: 100%; height: 100%;}

/* 네비 */

.header .header-wrap .nav{float: right;  margin-top: 25px; }
.header .header-wrap .nav ul li{float: left; margin-left: 68px;}

.header .header-wrap .nav ul li a{color: rgb(0, 0, 0); font-size: 19px; position: relative; }

    .header .header-wrap .nav ul li a::after{content:"";
        position: absolute; background: url("../images/exp_btn10x.png"); width: 81px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0; left: -11.8px;}
        .header .header-wrap .nav ul li:nth-child(2) a::after{background-image: url("../images/exp_btn20x.png"); width: 120px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0;}
        .header .header-wrap .nav ul li:nth-child(3) a::after{background-image: url("../images/exp_btn30x.png");width: 78px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0}
        .header .header-wrap .nav ul li:nth-child(4) a::after{background-image: url("../images/exp_btn40x.png");width: 130px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0}
       
        .header .header-wrap .nav ul li:hover a::after{top: 10px; opacity: 1; z-index: -1;}

        .content{
            width: 100%;
            position: relative;
        }
        .content img{width: 100%;} 
        .content svg{position: absolute; top: 5.2%; left: 18.3%;}
        
        

   /* Google chrome */
   @-webkit-keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #ffbe00;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #ffbe00;
     }
     
 }
 /* Most browsers */
 @keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #ffbe00;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #ffbe00;
     }
     
 }

.line{
  width: 1920px; position: absolute; left:0px; top: 1220px;
}

.pic{
  width: 583px; position: absolute; right:281px; top: 128px; z-index: 1;
}

.txt2{
  width: 493px; position: absolute; left:349px; top: 536px;
}
.butter{
  width: 719px; position: absolute; left:1294px; top: 575px;  animation: butterani 3.2s infinite;
}
/* animation 1  */

@keyframes butterani {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(4deg);
  }
  
  75% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


.container {
  display: flex;
  justify-content: center;
}

.ani-button {
  padding: 15px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 50px;
}

.ani-button:hover {
  animation-name: butterani;
  animation-duration: 2s;
}
/* @keyframes butterani{
  0%{transform: rotate(0);}
  10%{transform: rotate(0.1deg);}
  20%{transform: rotate(0.2deg);}
  30%{transform: rotate(0.1deg);}
  40%{transform: rotate(0deg);}
  50%{transform: rotate(-1deg);}
  60%{transform: rotate(-2deg);}
  70%{transform: rotate();}
  80%{transform: rotate(0g);}
  90%{transform: rotate(0);}
  100%{transform: rotate(0);}
} */
.txt3{
  width: 584px; position: absolute; left:290px; top: 985px;
}
.travel{
  width: 1337px; position: absolute; left:350px; top: 1156px;
}
.exercise{
  width: 1026px; position: absolute; left:380px; top: 2083px;
}
.exhibition{
  width: 532px; position: absolute; left:288px; top: 3117px;
}
.baking{
  width: 528px; position: absolute; left:1050px; top: 2890px;
}



.dot1{
  width: 65px; position: absolute; left:297px; top: 2574px;
  animation: updown 1.4s infinite linear;
}

@keyframes updown {
  0%{transform: translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(-0px);}
}

.dot2{
  width: 65px; position: absolute; left:548px; top: 2573px;
  animation: updown 1.4s infinite linear;
}

@keyframes updown {
  0%{transform: translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(-0px);}
}
.dot3{
  width: 65px; position: absolute; left:798px; top: 2650px;
  animation: updown 1.4s infinite linear;
}

@keyframes updown {
  0%{transform: translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(-0px);}
}
.dot4{
  width: 65px; position: absolute; left:1029px; top: 2691px;
  animation: updown 1.4s infinite linear;
}

@keyframes updown {
  0%{transform: translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(-0px);}
}
.dot5{
  width: 65px; position: absolute; left:1231px; top: 2640px;
  animation: updown 1.4s infinite linear;
}

@keyframes updown {
  0%{transform: translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(-0px);}
}
.dot6{
  width: 65px; position: absolute; left:1388px; top: 2470px;
  animation: updown 1.4s infinite linear;
}

@keyframes updown {
  0%{transform: translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(-0px);}
}
.dot7{
  width: 65px; position: absolute; left:1540px; top: 2244px;
  animation: updown 1.4s infinite linear;
}

@keyframes updown {
  0%{transform: translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(-0px);}
}


.pdf>a{
  width: 451px; height: 60px; position: absolute; left:734px;  top: 4231px;
  background: no-repeat url("../images/pdf-white0x.png"); 
  background-size: cover; 
  background-position: center;
  transition: 0.3s;
}
.pdf a:hover{
  background: url("../images/pdf-hover0x.png"); 
  background-size: cover; 
  background-position: center;
} 


/* .content-wave{position: absolute; width: 100px; left:1540px; top: 2244px;} */
