@charset "utf-8";
*{margin: 0; padding: 0; font-family: NanumSquare;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.main{ width: 100%; height: 100%;;
    position: absolute;
}

.header{
    width: 100%;
    height: 37.5px;
    position: absolute; z-index: 9; top: 37.5px;
}

/* 헤더 */
.header .header-wrap{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    line-height: 37.5px;}

/* 로고 */
.header .header-wrap .logo{float: left; height: 60px; margin-left: 120px; margin-top: 20px; }
.header .header-wrap .logo img{width: 100%; height: 100%;}

/* 네비 */

.header .header-wrap .nav{float: right;  margin-top: 25px; }
.header .header-wrap .nav ul li{float: left; margin-left: 68px;}

.header .header-wrap .nav ul li a{color: rgb(0, 0, 0); font-size: 19px; position: relative; }

    .header .header-wrap .nav ul li a::after{content:"";
        position: absolute; background: url("../images/port_btn10x.png"); width: 78px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0; left: -10px;}
        .header .header-wrap .nav ul li:nth-child(2) a::after,
        .header .header-wrap .nav ul li:nth-child(2) a.on::after
        {background-image: url("../images/port_btn20x.png"); width: 118px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0;}
        .header .header-wrap .nav ul li:nth-child(2) a.on::after{opacity: 1; top: 10px; z-index: -1;}
        .header .header-wrap .nav ul li:nth-child(3) a::after{background-image: url("../images/port_btn30x.png");width: 74px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0}
        .header .header-wrap .nav ul li:nth-child(4) a::after{background-image: url("../images/port_btn40x.png");width: 129px; height: 34px; display: block; top: 0;transition: 0.5s; opacity: 0}
       
        .header .header-wrap .nav ul li:hover a::after{top: 10px; opacity: 1; z-index: -1;}

        
        .pc{
            width: 100px; height: 69.822px; position: absolute; left:1120px; top: 290px;
        }


        .btn1>a{
            width: 148px; height: 44px; position: absolute; left:369.5px; top: 730px;
            background: no-repeat url("../images/btn_origin0x.png"); 
            background-size: cover; 
            background-position: center;
            transition: 0.3s;
        }
        .btn1 a:hover{
            background: url("../images/btn_origin_yellow0x.png"); 
            background-size: cover; 
            background-position: center;
        } 
        
        .btn2>a{
            width: 148px; height: 44px; position: absolute; left:529px; top: 730px;
            background: no-repeat url("../images/btn_website0x.png"); 
            background-size: cover; 
            background-position: center;
            transition: 0.3s;
        }
        .btn2 a:hover{
            background: url("../images/btn_website_yellow0x.png"); 
            background-size: cover; 
            background-position: center;
        } 
        
        .btn3>a{
            width: 307px; height: 44px; position: absolute; left:369.5px; top: 786px;
            background: no-repeat url("../images/btn_view0x.png"); 
            background-size: cover; 
            background-position: center;
            transition: 0.3s;
        }
        .btn3 a:hover{
            background: url("../images/btn_view_yellow0x.png"); 
            background-size: cover; 
            background-position: center;
        } 
        
        .btn4>a{
            width: 307px; height: 44px; position: absolute; left:346px; top: 710px;
            background: no-repeat url("../images/btn_view33\ -\ 복사본.png"); 
            background-size: cover; 
            background-position: center;
            transition: 0.3s;
        }
        .btn4 a:hover{
            background: url("../images/btn_view_yellow33.png"); 
            background-size: cover; 
            background-position: center;
        } 
        
        
        

        .uiux{
            width: 15px; height: 69.822px; position: absolute; left:1047px; top: 503px;
        }



        #fp-nav ul li .fp-tooltip.on{
            width:auto; opacity: 1;
        }
        #fp-nav ul li a span,
        .fp-slidesNav ul li a span{background-color: rgb(59, 212, 166);}



    .section:nth-child(1){background: url("../images/pp10x.png"); background-size: cover;}
    .section:nth-child(2){background: url("../images/pp20x.png"); background-size: cover;}
    .section:nth-child(3){background: url("../images/pp30x.png"); background-size: cover;}
    .modal-content{
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: none;
        z-index: 999;
        left: 0;
        top: 0;
        background-color: #fff;
    }
    .modal-content img{
        width: 100%;
    
    }
    .modal-content a{
        width: 44px;
        height: 44px;
        background-image: url(../images/close20x.png); background-size: cover;
        position: fixed;
        font-size: 0px;
        right: 50px;
        top: 30px;
        color :rgb(179, 17, 17);
    }